a {
 color:black;
}

h5 {
 font-size: 28px;
}

h6 {
 font-size: 18px;
}

.photo  {
  width: 100%;
}

.img-container {
  position: relative;
}

.info-container {
  padding: 1em;
  background: rgba(19,148,119,0.9);
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
  height: 0%;
  visibility: hidden;
}

.to-bottom {
  position: absolute;
  bottom: 0;
}

.img-container:hover .info-container {
  visibility: visible;
  height: 100%;
  transition: height 0.5s;
}

.container {

	margin-top: 76px;
}