/*SETUP*/
body {
  font-family: proxima-nova,Proxima Nova,helvetica,arial,sans-serif;
  background-color: white;
  padding-top: 50px;
}
html {
  box-sizing: border-box;
}
.profileplaceholder {
  background-image:url('../images/profileplaceholder.jpg');
  width:200px;
  height: 200px;
  background-size: cover;
}
/*FORM*/
#new-post, #edit-post, #new-user,/* #edit-user */ {
  display: none;
  padding: 10px;
  background-color: #FAFAFA;
  margin-bottom: 15px;
}
input[type=submit] {
  background-color: #909090;
  color: white;
  border: none;
}
input[type=submit]:hover {
  background-color: #da552f;
  color: white;
  border: none;
} 
/*TYPE*/
p {
  line-height: 1.3;
  color: #5a5a5a;
}
#timeTitle {
  font-weight: bold;
  color: #5a5a5a;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 10px;
}
a {
  color: #404040 !important;
  line-height: 1.3;
}
a:hover {
  color: #909090 !important;
}
h2 a {
  font-size: 22px !important;
  text-decoration: none;
}
h2 a:hover {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/*HEADER*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #da552f; /*Sets the text hover color on navbar*/
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #fff; /*BACKGROUND color for active*/
background-color: #fff;
}
  .navbar-default {
    background-color: #fff;
    border-color: #f1f1f1;
}
  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #fff;
   text-decoration: none;
  background-color: #f8f8f8;  /*change color of links in drop down here*/
   }
 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff; /*Change rollover cell color here*/
  }
  .navbar-default .navbar-nav > li > a {
   color: #da552f; /*Change active text color here*/
    }
#user-form-button {
  padding-right: 10px;
}
#navImage {
 padding-bottom: 10px; 
}
/*INDEX USERS*/
#users {
  overflow: hidden;
}
.post-tile {
  background-color: #fff;
  border: 2px solid #f7f7f7;
  border-radius: 5px;
  width: 100%;
  float: left;
  padding: 15px 25px;
  margin: 0 10px 10px 0;
}
/*PROFILE*/
.user-tile {
  text-align: center;
}
.user-tile h2 {
  font-size: 22px;
  text-decoration: none;
}
.user-tile h4 {
  color: #5a5a5a;
  font-size: 16px;
}
.subPostDiv {
  text-align: right;
}
.post-tile h2 {
  margin-top: -5px;
  margin-bottom: 0;
  padding-bottom: 5px;
}
.post-tile h5 {
  text-decoration: underline;
  color: #da552f !important;
  display: inline-block;
  padding-right: 2px;
  font-size: 12px;
}
 
.post-tile h5 a {
  text-decoration: underline;
  color: #da552f !important;
  display: inline-block;
  padding-right: 2px;
  font-size: 13px;
}
.post-tile img {
  width: 100%;
  margin-bottom: 10px;
}
.post-tile:hover {
  background-color: #f9f9f9;
}
#signinsection {
  text-align: center;
}
section h2 {
  color: #404040;
  font-size: 22px;
  padding-bottom: 15px;
}
#signupsection {
  text-align: center;
}
#new-post {
  text-align: center;
}
#edit-post {
  text-align: center;
}
#edit-user {
  text-align: center;
}
.footer {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
}
.footer a {
  color: #909090 !important;
}
#catgoryLanguageTitle {
}
#categoryLanguageDiv {
  margin-bottom: 40px;
  height: 20px;
}
#categoryLanguageDiv h2 {
  font-size: 16px;
  font-weight: bold;
}


.header-videoContainer {
 width: 100%;
 height: 400px;
 position: relative;

}

.video-container {
position: absolute;
height: 400px;
width: 100%;
overflow: hidden;

}

video {
 margin: 0 auto;
position: absolute;
z-index: -1;
opacity: 0.78;
max-width: 100%;

}
.deletePost, .editPost, .delete, .deleteUser, .edit, .editUser {
  text-decoration: underline !important;
  font-size: 13px;
}
.twitter {
  height: 30px !important;
  width: 30px !important;
}
.profileDivPhoto {
  width: 30px !important;
  padding-right: 10px;
  margin-top: 10px;
}